@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin-top: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: 'cur';
  src: url('PlaywriteAT-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  gap: 3px;
  padding-left: 2px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e23362;
  border-radius: 5px;
}
